.App-header {
  background-color: #ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Created by me */
h3 {
  margin: 0;
}
.style-font {
  font-family: "Prompt", sans-serif;
}
.font_header {
  font-weight: 380;
  color: #1888de;
  font-size: 4em;
}
.font_title {
  font-family: "Prompt", sans-serif;
  font-weight: normal;
  color: #010c14;
}
.font_topic {
  font-family: "Prompt", sans-serif;
  font-weight: semi-bold;
  color: #010c14;

  font-size: 1.5em;
}
.font_detail {
  font-family: "Prompt", sans-serif;
  font-weight: normal;
  color: #757575;
  font-size: 0.9em;
}
.font_tags {
  font-family: "Prompt", sans-serif;
  font-weight: normal;
  color: #757575;
  font-size: 0.8em;
}
a {
  color: #757575;
}
.read-more {
  color: #1888de;
  font-size: 1em;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.topic-link{
  text-decoration: none;
  color : #010c14
}
.mb-3 {
  margin-bottom: 3em;
}

.truncate-3 {
  overflow: hidden;

  max-height: 3.1rem;
  -webkit-box-orient: vertical;
  display: hidden;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

input {
  border: none;
  border-bottom: 1px solid #1888de;
  background-color: transparent;
  color: #404040;
  font-size: 1em;
  font-weight: 400;
  width: 40%;
  padding: 0.5em;
  margin-bottom: 0.8em;
}
::placeholder {
  color: #d6d6d6;
  opacity: 1; /* Firefox */
}

h1 {
  margin-top: 0em;
  margin-bottom: 0em;
}
header {
  margin-top: 3em;
  margin-bottom: 2em;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  column-gap: 11px;
  row-gap: 20px;
}

.content {
  color: #242424;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.w-50 {
  width: 50%;
  max-width: 200px;
}

.crop {
  width: 200px;
  height: 330px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.crop-square {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.grid-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hidden {
  display: none;
}



/* ขอโทษด้วยครับที่ไม่ได้จัดระเบียบ style เท่าไรครับ...ผมเป็นพวกที่คิดอะไรได้ก็ใส่เพิ่มๆๆๆครับบ แฮรๆๆ ตอนนี้ผมก็หลังจากเขียนเสร็จก็พยามที่จะจัดให้มันไม่รกจนเกินไปครับบ  */